<section id="content">
	<h2>Utasbiztoítási ajánlatunk</h2>
	<p>Utazásaink mellé a következő 3 biztosítási cég ajánlata közül választhat az érdeklődő. A feltüntetett adatok tájékoztató jellegűek, a biztosításokat személyre szabva ajánljuk az utasok igényeire szabva. Amennyiben teljesen egyedül akarja összeállítani a csomagot úgy a megrendelés során kérjük specifikálja azt.</p>

	<div id="insurance-wrap">
		<a href="#" class="insurance">
			<%= image_tag "qbe.png" %>
			<h3>Qbe</h3>
			<p>A tengerpartok szakértője.</p>
		</a>
		<a href="#">
			<%= image_tag "eub.jpg" %>
			<h3>Eub</h3>
			<p>Európa biztosítási királya.</p>
		</a>
		<a href="#">
			<%= image_tag "mondial.png" %>
			<h3>Mondial</h3>
			<p>Az utazásszervezés mestere.</p>
		</a>
	</div>
</section>