<section id="content">
	<h2>Utasbiztosítási ajánlatunk</h2>
	<p>Utazásaink mellé a következő 3 biztosítási cég ajánlata közül választhat az érdeklődő. A feltüntetett adatok tájékoztató jellegűek, a biztosításokat személyre szabva ajánljuk az utasok igényeire szabva. Amennyiben teljesen egyedül akarja összeállítani a csomagot úgy a megrendelés során kérjük specifikálja azt.</p>

	<div id="insurance-wrap">
		<a href="http://www.poleasy.at/WHL.aspx?partner=104939&user=whl_104939_01">
			<%= image_tag "mondial.png" %>
			<h3>Mondial Biztosító</h3>
		</a>
		<a href="#" class="insurance">
			<%= image_tag "qbe.png" %>
			<h3>Qbe Biztosító</h3>
		</a>
		<a href="#">
			<%= image_tag "eub.png" %>
			<h3>Eub Biztosító</h3>
			
		</a>
	</div>
</section>