<section id="content">
<h2>Foglalás</h2>

<form id="order-form">
<div class="row"><h3>Német álomutazás</h3> <span class="dates">2012-02-11 - 2012-02-15</span> <span class="price">119 000 Ft</span></div>

<fieldset>
<div class="r">
	<label for="name">Név</label>
	<input type="text" id="name" name="name" />
</div>
<div class="r">
	<label for="email">Email cím</label>
	<input type="email"  id="email" name="email" />
</div>
<div class="r">
	<label for="prefix">Telefonszám</label>
	+36 - <input id="prefix" name="prefix" type="text" /> - <input type="text" name="number" id="number" />
</div>
<div class="r">
	<label for="head">Fő</label>
	<input type="number" min=1 id="head" name="head" value="2">
</div>

</fieldset>

<fieldset>
	<div class="r">
		<label for="com">Megjegyzés</label>
		<textarea name="com" id="com" cols="30" rows="5"></textarea>
	</div>
</fieldset>

<input type="submit" value="Foglalás &raquo;">

</form>

<div id="comment">
	<div class="sidebox" id="services">
		<h3>Utasbiztosítás</h3>
		<p>Az <a href="#">utasbiztosításokat</a> személyre szabva intézzükk. Amennyiben pontos elképzelései vannak kérjük írja be a megjegyzés mezőbe.</p>
	</div>
</div>

</section>