<section id="content">
	<h2>Köszönjük!</h2>
	<p>Munkatársaink hamarosan felveszik Önnel a kapcsolatot a megadott elérhetőségén.</p>
	<div class="box">
		<img width="940px" src="http://static4.depositphotos.com/1011061/327/i/950/depositphotos_3275348-Smiling-business-people-waving-hands.jpg" alt="">
	</div>
</section>