<section id="promo-slider">
	<div id="slide-wrap">
		<a href="#" id="prev-slide" class="slide-control">prev</a>
		<div class="slide" id="barca-slide" data-background="assets/slider/camp_nou.jpg">
			<%= image_tag "slider/barcelona.png" %>
			<h1>5 napon át eddzhet az <span>FC Barcelona</span> trénereivel</h1>
			<p>5 napon át, 90 perces edzés (reggel) az FC Barcelona profi edzőivel. A program tartalmazza a hivatalos csoport képeket, az FC Barcelona Stadion és Múzeum látogatását idegenvezetéssel. Szállás: 3*,4* illetve 5* hotelekben (minden szálloda a stadion mellett, vagy néhány perc sétára található).</p>
			<p><a href="/fcbarcelona">Részletek &raquo;</a></p>
		</div>
		<div class="slide" id="dubai-slide" data-background="assets/slider/dubai_blurred.jpg">
			<h1 class="">Dubai</h1>
			<h2>Fedezze fel az Egyesült Arab Emírségek csodáit!</h2>
			<div class="clearfix">
				<div class="small-wrap">
					<a href="/oasis-beach-tower-171892">
						<div class="box small">
							<img src="http://backend.aleph.hu/travelmax/public_html/gallery/600120/Tower.jpg" alt="Oasis Beach Tower">
						</div>
						<span>Oasis Beach Tower</span>
						<span class="price">78 000 Ft-tól</span>
					</a>
				</div>
				<div class="small-wrap">
					<a href="/atlantis-the-palm-99109">
						<div class="box small">
							<img src="http://backend.aleph.hu/travelmax/public_html/gallery/86293/28.jpg" alt="Atlantis, The Palm">
						</div>
						<span>Atlantis, The Palm</span>
						<span class="price">56 000 Ft-tól</span>
					</a>
				</div>
				<div class="small-wrap">
					<a href="/dubai-maldiv-szigetek-udules-150205">
						<div class="box small">
							<img src="http://backend.aleph.hu/travelmax/public_html/gallery/582435/Fushi.jpg" alt="Dubai + Maldív-szigetek 9 éjszaka">
						</div>
						<span>Dubai+Maldív-szigetek 11 nap</span>
						<span class="price">629 000 Ft-tól</span>
					</a>
				</div>		
			</div>
		</div>

		<div class="slide" id="kuba-slide" data-background="assets/slider/kuba_blurred.jpg">
			<h1 class="">Kuba</h1>
			<h2>Egy igazi Mojito-t egyszer mindenkinek innia kell!</h2>
			<p>Csodálatos tengerpartjaival és elképesztő hangulatával Kuba az egyik legkedveltebb üdülőhely. Üdüléseink közt mindenki megtalálhatja a pénztárcájának megfelelő Kubai nyaralást. </p>
			<p><a href="/uticelok/kuba">Kubai útjaink &raquo;</a></p>
		</div>
		
		<div class="slide" id="hungaroring-slide" data-background="assets/slider/hungaroring.jpg">
			<%= image_tag "slider/hungaroring_logo.png" %>
			<h1 class="">Exkluzív hírdetési ajánlat a Hungaroringre</h1>
			<p>Az East-West Utazási és Sport Iroda számos hírdetési és promóciós lehetőséget kínál minden büdzsé számára elérhetően. Legyen szó <strong>csapatépítő programok</strong>, <strong>esküvők</strong>, <strong>catering</strong>, <strong>szponzoráció</strong>, <strong>céges rendezvények</strong> vagy <strong>reklámfelületek</strong> értékesítéséről a Hungaroringen, velünk ezt megteheti.</p>
			<p>
				<a href="/hungaroring">Részletek &raquo;</a>
			</p>
		</div>
		<div class="slide" id="kuba-slide" data-background="assets/slider/turkey_blurred.jpg">
			<h1 class="">Törökország</h1>
			<h2>A Török riviéra</h2>
			<p>A Török Riviéra végtelen strandjai, a csodálatos öblök látványa és a kellemes éghajlat megadja egy kellemes családi nyaralás alapjait. A kínálatunkban szereplő utazások programjai pedig megadják a feledhetetlen élményeket hozzá, melyek a kikapcsolódásból örök élményt varázsolnak.</p>
			<p><a href="/uticelok/torokorszag">Török utak &raquo;</a></p>
		</div>
		<a href="#" id="next-slide" class="slide-control">next</a>
	</div>
</section>

<section id="content">
	<div id="popular-destinations">
		<h2 class="orange">Legnépszerűbb úticélok</h2>
		<div class="clearfix">
				<% @popular.each do |country| %>
					<%= link_to country.name, "/uticelok/" + country.slug %>
				<% end %>
		</div>
	</div>

	<div id="special-offers">
		<h2 class="blue">Kiemelt ajánlataink</h2>
		<!-- Lehetőségek: quarter, half, full -->
		<div class="box-wrap third">
			<a href="/utjaink/sportutak" class="box quarter">
				<div class="inner">
					<div class="ribbon">Sportutak</div>
					<% image_tag "specials/sport.png", :alt => "Sportutak" %>
				</div>
			</a>
			<a href="/utjaink/varoslatogatasok" class="box quarter">
				<div class="inner">
					<div class="ribbon">Városlátogatások</div>
					<% image_tag "specials/varos.png", :alt => "Városlátogatások" %>
				</div>
			</a>
			<a href="/utjaink/lastminute" class="box half">
				<div class="inner">
					<div class="ribbon">Last minute</div>
					<% image_tag "specials/lastminute.png", :alt => "Last minute utak" %>
				</div>
			</a>
		</div>
		<div class="box-wrap third">
			<a href="/utjaink/hajoutak" class="box full">
				<div class="inner">
					<div class="ribbon">
						Hajóutak
					</div>
					<% image_tag "specials/hajo.png", :alt => "Hajóutak" %>
				</div>
			</a>
		</div>
		<div class="box-wrap third">
			<a href="/utjaink/akciosutak" class="box quarter">
				<div class="inner">
					<div class="ribbon">Akciós utak</div>
					<% image_tag "specials/akcios.png", :alt => "Akciós utak" %>
				</div>
			</a>
			<a href="/utjaink/sieles" class="box quarter">
				<div class="inner">
					<div class="ribbon">Síelés</div>
					<% image_tag "specials/sieles.png", :alt => "Síelés" %>
				</div>
			</a>
			<a href="/utjaink/kulfoldiutazasok" class="box quarter">
				<div class="inner">
					<div class="ribbon">Külföldi utazások</div>
					<% image_tag "specials/kulfold.png", :alt => "Külföldi utazások" %>
				</div>
			</a>
			<a href="/utjaink/naszutak" class="box quarter">
				<div class="inner">
					<div class="ribbon">Nászutak</div>
					<% image_tag "specials/nasz.png", :alt => "Nászutak" %>
				</div>
			</a>
		</div>
	</div>
	<div id="about-us">
		<h2 class="blue">Rólunk</h2>
		<h3>Az East-West Utazási és Sport Irodáról</h3>

		<p>
			A ma működő cég elődje a Hungasport iroda 1997-ben alakult. Sikeres 12 év tevékenykedés után váltás történt, és 2009 év elejétől immár East-West Utazási és Sport Iroda néven folytatjuk tevékenységünket. A sportutak szervezése mellett szolgáltatásainkat kibővítettük <a href="/kulfoldiutazasok">nyaralások és üdülések </a>szervezésével, amelyeket a sportutazások lebonyolításában megszerzett kapcsolatok és tapasztalatoknak köszönehtően exkluzív <a href="/sportutak">sportos, aktív pihenésekkel</a> fűszereztünk meg. Emellett az <a href="/uticelok/egyesult-arab-emiratusok">Egyesült Arab Emirátusok</a>, <a href="/uticelok/kuba">Kuba</a> valamint a <a href="/uticelok/torokorszag">Török</a> régiókban rendelkezünk kiemelkedő utakkal.
		</p>

		<p>
			<a href="http://www.ewsport.hu/">Sportirodánk</a> a sport minden szegmensében vállal szerepet. Fő tevékenységünk az edzőtáborok szervezése Magyarországon és külföldön egyaránt. Elsősorban labdarúgó csapatoknak szervezünk edzőtáborokat, de más sportágak versenyzőinek is bonyolítottuk már a felkészülésüket. Mint például, atlétika, röplabda, kosárlabda.		
		</p>
	
		<p>
			Továbbá foglalkozunk reklámfelületek értékesítésével, szponzorok közvetítésével különböző klubokhoz, sport szervezetekhez.
			A tevékenységeink körébe tartozik még, játékosok, edzők, gyúrók, orvosok menedzselése, magyarországi és külföldi munkalehetőségek közvetítése. A szolgáltatásokról bővebben az <a href="http://www.ewsport.hu/">www.ewsport.hu</a> oldalon érdeklődhet.
		</p>
	</div>
</section>