<section id="page-header">
	<div id="page-header-inner" data-image="/assets/category_headers/camp_nou.jpg">
			<%= image_tag "slider/barcelona.png" %>
			<h1>5 napon át eddzhet az <span>FC Barcelona</span> trénereivel</h1>
			<p>Egy igazán különleges lehetőség Barcelona rajongóknak.</p>
	</div>
</section>

<section id="content">

<h2>Különlöges sportélmény Barcelonában</h2>

<p>A program a nagyközönségnek tervezett (55 éves korig)… akik készek tanulni és tapasztalatot akarnak szerezni kívülről és belülről a <strong>világ legjobb klubjától az FC Barcelonától.</strong>Ne hagyd ki ezt a különleges lehetőséget, tanulj és tapasztalj az FC Barcelonánál, a világ egyik leghíresebb és legsikeresebb klubjánál.</p>

<h3>Amit kínálunk</h3>

<ul>
	<li>5 napon át, 90 perces edzés (reggel) az FC Barcelona proﬁ edzőivel</li>
	<li>Hivatalos csoport képek</li>
	<li>Víz fogyasztás minden edzés alatt</li>
	<li>FC Barcelona Stadion, Múzeum látogatása idegenvezetéssel</li>
</ul>

<p>Szállás: 3*,4* illetve 5* hotelekben (minden szálloda a stadion mellett, vagy néhány perc sétára található). További részletekről érdeklődjön <a href="/kapcsolat">irodánkban, illetve elérhetőségeinken</a>. Valamint kérheti részletes tájékoztató füzetünket.</p>

</section>
