<section id="page-header" class="hungaroring">
	<div id="page-header-inner" data-image="/assets/category_headers/hungaroring.jpg">
			<%= image_tag "slider/hungaroring_logo.png" %>
			<h1>Exkluzív hírdetési lehetőség a Hungaroringen</h1>
			<p>Az East-West Utazási és Sport Iroda számos hírdetési és promóciós lehetőséget kínál minden büdzsé számára elérhetően.</p>
	</div>
</section>

<section id="content">

<h2>Hungaroring</h2>

<p>Egy reklámkampány megalkotása költséges és komplex feladat, mint ahogyan az sem egyszerű kérdés, hogyan lehet a legjobb áron a leghatékonyabb elérést létrehozni. Az East-West segítségével biztos lehet abban, hogy az Ön hirdetése pontosan oda kerül és annyi embert ér el, amennyit tervezett. Mindemellett kollégáink nem csak a reklámok helyének kiválasztásában, de más területeken is segíthetnek Önnek, mint a rendezvények komplex szervezése és lebonyolítása, videó- és ﬁlmprodukciók elkészítése, stb.</p>

<p>Az East-West segít Önnek megtalálni a legjobb megoldást cége számára mind a szponzoráció, mind – szükség esetén – a marketing és a kommunikáció területén. Így Ön biztos lehet abban, hogy támogatásával nem csupán a magyar sikerekhez járul hozzá, de vásárlóira is a legnagyobb hatást gyakorolja majd.</p>

<p>Segítségünkkel a következő szolgáltatásokat veheti igénybe a Hungaroring területén:</p>

<ul>
	<li>Csapatépítő programok</li>
	<li>Esküvők</li>
	<li>Catering</li>
	<li>Szponzoráció</li>
	<li>Reklámfelületek</li>
	<li>Céges rendezvények</li>
	<li>Hospitality</li>
</ul>

<p id="download"><a href="#">Részletes ajánlat letöltése</a></p>

</section>
