<section id="page-header">
	<div id="page-header-inner">
			<h1>Csak akkor látszom, ha kiemelt vagyok</h1>
	</div>
</section>

<section id="content">
	<div id="main">
		<div id="trip-images">
			<a rel="gallery" href="http://wetu.com/ImageHandler/1280x1280/1481/The%20Restaurant.jpg" class="fancybox" id="curr">
				<img src="http://www.lastminutekozpont.hu/images/1029/zambezi_sun10.JPG" alt="">
			</a>
			<div>
				<a rel="gallery" href="http://media.gadventures.com/media-server/dynamic/admin/photos/south_africa_cape_town.jpg" class="thumb fancybox">
					<img src="http://media.gadventures.com/media-server/dynamic/admin/photos/south_africa_cape_town.jpg" alt="">
				</a>
				<a rel="gallery" href="http://csis.org/files/imagecache/50w-scale/120217_africa_cq.jpg" class="thumb fancybox">
					<img src="http://csis.org/files/imagecache/50w-scale/120217_africa_cq.jpg" alt="">
				</a>
				<a rel="gallery" href="http://profile.ak.fbcdn.net/hprofile-ak-snc4/277026_197177290345130_1908509687_q.jpg" class="thumb fancybox">
					<img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/277026_197177290345130_1908509687_q.jpg" alt="">
				</a>
				<a rel="gallery" href="http://profile.ak.fbcdn.net/hprofile-ak-snc4/41606_14457426444_1711762621_q.jpg" class="thumb fancybox">
					<img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/41606_14457426444_1711762621_q.jpg" alt="">
				</a>
				<a rel="gallery" href="http://profile.ak.fbcdn.net/hprofile-ak-snc4/161678_100000027544509_879335915_q.jpg" class="thumb last fancybox">
					<img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/161678_100000027544509_879335915_q.jpg" alt="">
				</a>
			</div>

		</div>
		<div id="trip-details">
			<h2>Dubaj - Szuper szálloda &#10025;&#10025;&#10025;</h2>
			<h3 id="full-price">Egy főre eső teljes ár: <span>123.000 Ft</span></h3>
			<ul>
				<li><strong>Ország:</strong> Egyesült Arab Emirátusok</li>
				<li><strong>Régió:</strong> Dubaj</li>
				<li><strong>Utazás módja:</strong> Repülő</li>
				<li><strong>Időpont:</strong> 2012-01-10 - 2012-01-17 (6 éjszaka)</li>
				<li><strong>Ellátás:</strong> Félpanzió</li>
				<li><strong>Szoba:</strong> Club szoba</li>
				<li><strong>Ellátás:</strong> Félpanzió</li>
			</ul>
			<div id="book-wrap">
				<a class="view" href="#">Foglalás &raquo;</a>
				<a href="#">Változtatna az úton? Kérjen egyedi árajánlatot!</a>
			</div>
		</div>
	</div>
	<div id="additional-time">
		<h2>További időpontok és változatok</h2>
		<table>
			<thead>
				<tr>
					<th>Utazás időpontja</th>
					<th>Szállás</th>
					<th>Ellátás</th>
					<th>Ár</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="5">Bizonyos árak csak a szállásra vonatkoznak, vagy nem tartalmaznak minden útiköltséget. Kérjük nézze meg az ajánlat részletes árinformációit.</td>
				</tr>
			</tfoot>
			<tbody>
				<tr>
					<td>2012-01-01 - 2012-02-01 (30 éjszaka)</td>
					<td>All-inclusive</td>
					<td>Club Szoba</td>
					<td class="price">120 000 Ft</td>
					<td><a href="">Foglalás &raquo;</a></td>
				</tr>
				<tr>
					<td>2012-01-01 - 2012-02-01 (30 éjszaka)</td>
					<td>All-inclusive</td>
					<td>Club Szoba</td>
					<td class="price">103 000 Ft</td>
					<td><a href="">Foglalás &raquo;</a></td>
				</tr>
				<tr>
					<td>2012-01-01 - 2012-02-01 (30 éjszaka)</td>
					<td>All-inclusive</td>
					<td>Club Szoba</td>
					<td class="price">100 020 Ft</td>
					<td><a href="">Foglalás &raquo;</a></td>
				</tr>
				<tr>
					<td>2012-01-01 - 2012-02-01 (30 éjszaka)</td>
					<td>All-inclusive</td>
					<td>Club Szoba</td>
					<td class="price">110 000 Ft</td>
					<td><a href="">Foglalás &raquo;</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="trip-description">
		<div id="text">
			<h3>Részletes leírás</h3>
			<p>
				Africa is the world's second-largest and second-most-populous continent, after Asia. At about 30.2 million km² (11.7 million sq mi) including adjacent islands, it covers 6% of the Earth's total surface area and 20.4% of the total land area.[2] With 1.0 billion people (as of 2009, see table), it accounts for about 14.72% of the world's human population.
			</p>
			<p>
				The continent is surrounded by the Mediterranean Sea to the north, both the Suez Canal and the Red Sea along the Sinai Peninsula to the northeast, the Indian Ocean to the southeast, and the Atlantic Ocean to the west. The continent includes Madagascar and various archipelagoes. It has 54 fully recognized sovereign states ("countries"), 9 territories and three de facto states with limited recognition.[3]
			</p>
			<p>
				Africa, particularly central Eastern Africa, is widely regarded within the scientific community to be the origin of humans and the Hominidae clade (great apes), as evidenced by the discovery of the earliest hominids and their ancestors, as well as later ones that have been dated to around seven million years ago – including Sahelanthropus tchadensis, Australopithecus africanus, A. afarensis, Homo erectus, H. habilis and H. ergaster – with the earliest Homo sapiens (modern human) found in Ethiopia being dated to circa 200,000 years ago.[4]
			</p>
			<h3>Miért fogod szeretni?</h3>
			<p>
				Africa is the world's second-largest and second-most-populous continent, after Asia. At about 30.2 million km² (11.7 million sq mi) including adjacent islands, it covers 6% of the Earth's total surface area and 20.4% of the total land area.[2] With 1.0 billion people (as of 2009, see table), it accounts for about 14.72% of the world's human population.
			</p>
		</div>
		<div id="side">
			<div class="sidebox" id="services">
				<h3>Kényelmi szolgáltatások</h3>
				<ul>
					<li>Szolgáltatás</li>
					<li>Szolgáltatás</li>
					<li>Szolgáltatás</li>
					<li>Szolgáltatás</li>
					<li>Szolgáltatás</li>
					<li>Szolgáltatás</li>
					<li>Szolgáltatás</li>
					<li>Szolgáltatás</li>
					<li>Szolgáltatás</li>
					<li>Szolgáltatás</li>
				</ul>
			</div>
			<div class="sidebox" id="sights">
				<h3>Látnivalók a közelben</h3>
				<div class="wrap">
					
					<a rel="sights" class="fancybox" href="http://wetu.com/ImageHandler/1280x1280/1481/The%20Restaurant.jpg"><div><img src="http://www.egzotikus-utazas.info/images_content/thumbnails/50x50/dubai-top-1.jpg" alt=""></div></a>
					
					<a rel="sights" class="fancybox" href="http://wetu.com/ImageHandler/1280x1280/1481/The%20Restaurant.jpg"><div><img src="http://www.caracolutazas.hu/images_content/caracol/thumbnails/50x50/Dubai.jpg" alt=""></div></a>
					
					<a rel="sights" class="fancybox" href="http://wetu.com/ImageHandler/1280x1280/1481/The%20Restaurant.jpg"><div><img src="http://external.ak.fbcdn.net/safe_image.php?d=AQCk1iIvTYg-fRbg&w=50&h=50&url=http%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fe%2Fe1%2FDubai_2010.JPG%2F720px-Dubai_2010.JPG&crop&fallback=hub_likes&prefix=q" alt=""></div></a>

					<a rel="sights" class="fancybox" href="http://wetu.com/ImageHandler/1280x1280/1481/The%20Restaurant.jpg"><div><img src="http://www.egzotikus-utazas.info/images_content/thumbnails/50x50/dubai-top-1.jpg" alt=""></div></a>
					
					<a rel="sights" class="fancybox" href="http://wetu.com/ImageHandler/1280x1280/1481/The%20Restaurant.jpg"><div><img src="http://www.caracolutazas.hu/images_content/caracol/thumbnails/50x50/Dubai.jpg" alt=""></div></a>
					
					<a rel="sights" class="fancybox" href="http://wetu.com/ImageHandler/1280x1280/1481/The%20Restaurant.jpg"><div><img src="http://external.ak.fbcdn.net/safe_image.php?d=AQCk1iIvTYg-fRbg&w=50&h=50&url=http%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fe%2Fe1%2FDubai_2010.JPG%2F720px-Dubai_2010.JPG&crop&fallback=hub_likes&prefix=q" alt=""></div></a>
				</div>
			</div>
		</div>
	</div>
	<div id="tri-wrap">
		<div class="tri">
			<h3>Jó tudni</h3>
			<ul>
				<li>Harap a teve</li>
				<li>Pénznem: Dollár</li>
				<li>Oltás: Malária</li>
			</ul>
		</div>
		<div class="tri">
			<h3>Jó tudni</h3>
			<ul>
				<li>Harap a teve</li>
				<li>Pénznem: Dollár</li>
				<li>Oltás: Malária</li>
			</ul>
		</div>
		<div class="tri">
			<h3>Jó tudni</h3>
			<ul>
				<li>Harap a teve</li>
				<li>Pénznem: Dollár</li>
				<li>Oltás: Malária</li>
			</ul>
		</div>
		<div class="tri">
			<h3>Jó tudni</h3>
			<ul>
				<li>Harap a teve</li>
				<li>Pénznem: Dollár</li>
				<li>Oltás: Malária</li>
			</ul>
		</div>
	</div>
	<div id="similar">
		<h3>Hasonló utazások</h3>
		<a href="#">
			<div class="ribbon">
				Dubai - 199 000 Ft
			</div>
			<img src="http://www.bvents.com/_resources/venues/83425/dubai-international-convention-and-exhibition-centre.jpg" alt="">
		</a>
		<a href="#">
			<img src="http://www.bvents.com/_resources/venues/83425/dubai-international-convention-and-exhibition-centre.jpg" alt="">
		</a>
		<a href="#">
			<img src="http://www.bvents.com/_resources/venues/83425/dubai-international-convention-and-exhibition-centre.jpg" alt="">
		</a>
		<a href="#">
			<img src="http://www.bvents.com/_resources/venues/83425/dubai-international-convention-and-exhibition-centre.jpg" alt="">
		</a>
	</div>
</section>