<section id="content">
	<h2>Kapcsolat</h2>
	<div id="contact-data">
		<h3>Címünk</h3>
		<p><a href="http://g.co/maps/xm354">1126. Budapest, Dolgos utca 2/2. (MOM Park melletti sétány)</a></p>
		
		<h3>Email cím</h3>
		<p><a href="mailto:info@ewutazas.hu">info@ewutazas.hu</a></p>

		<h3>Telefonszám</h3>
		<p>+36-1-225-13-45, +36-30-9-147-157</p>
		<h3>Fax</h3>
		<p>+ 36-1-225-13-46</p>
		<h3>Nyitvatartás</h3>
		<p>H-P 10:00 - 18:00</p>

	</div>
	<img id="store" src="http://www.ewutazas.hu/img/ew_iroda.jpg" alt="" />
</section>	