<section id="content">
	<h2>Kapcsolat</h2>
	<div id="contact-data">
		<h3>Címünk</h3>
		<p><a href="https://goo.gl/maps/4bqdg">1182 Budapest Zombor utca 14.</a></p>
		
		<h3>Email cím</h3>
		<p><a href="mailto:info@ewutazas.hu">info@ewutazas.hu</a></p>

		<h3>Telefonszám</h3>
		<p>+36-30-952-0678, +36-30-9-147-157</p>		
	</div>
	<img id="store" src="http://www.ewutazas.hu/img/ew_iroda.jpg" alt="" />
</section>	