$blue: #3fa1ca;
$orange: #fa7602;
$red: #b4303d;
$purple: #7b5699;
$gray: #d1d3d2;

@mixin font-pt{
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-weight: normal !important;
}

@mixin font-lobster{
  font-family: 'Lobster Two', cursive;
  font-weight: normal !important;
}

@mixin font-bree{
  font-family: 'Bree Serif', serif;
  font-weight: normal !important;
}

@mixin font-bree-i{
  font-family: 'Bree Serif', serif !important;
  font-weight: normal !important;
}

@mixin t-shadow{
  text-shadow:rgba(0,0,0,0.5) 1px 1px 3px;
}

@mixin t-04{
    -webkit-transition: all 0.4s ease;
     -moz-transition: all 0.4s ease;  
      -ms-transition: all 0.4s ease;  
       -o-transition: all 0.4s ease;  
          transition: all 0.4s ease;
}

@mixin t-02{
    -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;  
      -ms-transition: all 0.2s ease;  
       -o-transition: all 0.2s ease;  
          transition: all 0.2s ease;
}

@mixin scale($size: 1.01){
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: scale($size);  
     -moz-transform: scale($size);  
      -ms-transform: scale($size);  
       -o-transform: scale($size);  
          transform: scale($size);
}

@mixin border_radius($tl: 5px, $tr: 5px, $br: 5px, $bl: 5px) {
  -moz-border-radius: $tl $tr $br $bl;
  -webkit-border-top-left-radius: $tl;
  -webkit-border-top-right-radius: $tr;
  -webkit-border-bottom-right-radius: $br;
  -webkit-border-bottom-left-radius: $bl;
  border-radius: $tl $tr $br $bl;
}

@mixin background-gradient($startColor: #3C3C3C, $endColor: #999999, $image: none) {
    background: $image $endColor;
    background: $image, -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
    background: $image, -webkit-linear-gradient(top, $startColor, $endColor);
    background: $image,   -moz-linear-gradient(top, $startColor, $endColor);
    background: $image,    -ms-linear-gradient(top, $startColor, $endColor);
    background: $image,     -o-linear-gradient(top, $startColor, $endColor);
    background: $image,        linear-gradient(top, $startColor, $endColor);
}

@mixin dark-blue-gradient{
  @include background-gradient(#586390,#303f76);
}

@mixin big-red{
  @include t-02;
  @include font-bree;
  text-decoration:none;
  color: #ffffff;
  padding: 10px 20px;
  @include background-gradient(#e97a7e,#db2127);
  @include border-radius(3px,3px,3px,3px);
  border: 1px solid #be1e2e;
  -moz-box-shadow:
    0px 2px 2px rgba(000,000,000,0.2),
    inset 0px 0px 3px rgba(255,217,000,0.2);
  -webkit-box-shadow:
    0px 2px 2px rgba(000,000,000,0.2),
    inset 0px 0px 3px rgba(255,217,000,0.2);
  box-shadow:
    0px 2px 2px rgba(000,000,000,0.2),
    inset 0px 0px 3px rgba(255,217,000,0.2);
  text-shadow:
    0px 1px 0px rgba(000,000,000,0.5),
    0px 1px 0px rgba(255,255,255,0.3);

  &:hover,&:focus{
    @include background-gradient(#ff6877,#ff484e);
    -moz-box-shadow:
      0px 2px 2px rgba(000,000,000,0.2),
      inset 0px 0px 3px rgba(255,255,255,0.2);
    -webkit-box-shadow:
      0px 2px 2px rgba(000,000,000,0.2),
      inset 0px 0px 3px rgba(255,255,255,0.2);
    box-shadow:
      0px 2px 2px rgba(000,000,000,0.2),
      inset 0px 0px 3px rgba(255,255,255,0.2);
    text-shadow:
      0px 1px 0px rgba(000,000,000,0.5),
      0px 1px 0px rgba(255,255,255,0.3);
  }

  &:active,&.active{
    @include background-gradient(#dc2127,#ff6776);
    -moz-box-shadow:
      0px 2px 2px rgba(255,255,255,0.7),
      inset 0px 0px 3px rgba(255,217,000,0.2);
    -webkit-box-shadow:
      0px 2px 2px rgba(255,255,255,0.7),
      inset 0px 0px 3px rgba(255,217,000,0.2);
    box-shadow:
      0px 2px 2px rgba(255,255,255,0.7),
      inset 0px 0px 3px rgba(255,217,000,0.2);
    text-shadow:
      0px 1px 0px rgba(000,000,000,0.5),
      0px 1px 0px rgba(255,255,255,0.3);
    }
}

@mixin small-red{
  @include t-02;
  @include font-bree;
  font-weight:normal;
  font-size:14px;
  letter-spacing:1px;
  text-decoration:none;
  color: #ffffff;
  padding: 5px 10px;
  @include background-gradient(#e97a7e,#db2127);
  @include border-radius(3px,3px,3px,3px);
  border: 1px solid #be1e2e;
  -moz-box-shadow:
    0px 1px 0px rgba(000,000,000,0.2),
    inset 0px 0px 3px rgba(255,217,000,0.2);
  -webkit-box-shadow:
    0px 1px 0px rgba(000,000,000,0.2),
    inset 0px 0px 3px rgba(255,217,000,0.2);
  box-shadow:
    0px 1px 0px rgba(000,000,000,0.2),
    inset 0px 0px 3px rgba(255,217,000,0.2);
  text-shadow:
    0px 1px 0px rgba(000,000,000,0.5),
    0px 1px 0px rgba(255,255,255,0.3);

  &:hover,&:focus{
     @include background-gradient(#ff6877,#ff484e);
    -moz-box-shadow:
      0px 1px 0px rgba(000,000,000,0.2),
      inset 0px 0px 3px rgba(255,255,255,0.2);
    -webkit-box-shadow:
      0px 1px 0px rgba(000,000,000,0.2),
      inset 0px 0px 3px rgba(255,255,255,0.2);
    box-shadow:
      0px 1px 0px rgba(000,000,000,0.2),
      inset 0px 0px 3px rgba(255,255,255,0.2);
    text-shadow:
      0px 1px 0px rgba(000,000,000,0.5),
      0px 1px 0px rgba(255,255,255,0.3);
    }

    &:active,&.active{
      @include background-gradient(#dc2127,#ff6776);
    -moz-box-shadow:
      0px 1px 0px rgba(255,255,255,0.7),
      inset 0px 0px 3px rgba(255,217,000,0.2);
    -webkit-box-shadow:
      0px 1px 0px rgba(255,255,255,0.7),
      inset 0px 0px 3px rgba(255,217,000,0.2);
    box-shadow:
      0px 1px 0px rgba(255,255,255,0.7),
      inset 0px 0px 3px rgba(255,217,000,0.2);
    text-shadow:
      0px 1px 0px rgba(000,000,000,0.5),
      0px 1px 0px rgba(255,255,255,0.3);
      }

}

@mixin big-blue{
  @include t-02;
  @include font-bree;
  text-decoration:none;
  color: #ffffff;
  padding: 10px 20px;
  @include background-gradient(#8bc7df,#40a1ca);
  @include border-radius(3px,3px,3px,3px);
  border: 1px solid #338399;
  -moz-box-shadow:
    0px 2px 2px rgba(000,000,000,0.2),
    inset 0px 0px 3px rgba(255,255,255,0.5);
  -webkit-box-shadow:
    0px 2px 2px rgba(000,000,000,0.2),
    inset 0px 0px 3px rgba(255,255,255,0.5);
  box-shadow:
    0px 2px 2px rgba(000,000,000,0.2),
    inset 0px 0px 3px rgba(255,255,255,0.5);
  text-shadow:
    0px 1px 0px rgba(000,000,000,0.5),
    0px 0px 3px rgba(255,255,255,0.2);

    &:hover,&:focus{
      @include background-gradient(#abdef0,#8cc6df);
      border: 1px solid #3fa0ca;
    -moz-box-shadow:
      0px 2px 2px rgba(000,000,000,0.2),
      inset 0px 0px 3px rgba(255,255,255,0.5);
    -webkit-box-shadow:
      0px 2px 2px rgba(000,000,000,0.2),
      inset 0px 0px 3px rgba(255,255,255,0.5);
    box-shadow:
      0px 2px 2px rgba(000,000,000,0.2),
      inset 0px 0px 3px rgba(255,255,255,0.5);  
    text-shadow:
      0px 1px 0px rgba(000,000,000,0.5),
      0px 0px 3px rgba(255,255,255,0.2);
      }

      &:active,&.active{
        @include background-gradient(#3fa3ca,#8cc7df);
        border: 1px solid #338399;
      -moz-box-shadow:
        0px 2px 2px rgba(255,255,255,0.2),
        inset 0px 0px 3px rgba(255,255,255,0.5);
      -webkit-box-shadow:
        0px 2px 2px rgba(255,255,255,0.2),
        inset 0px 0px 3px rgba(255,255,255,0.5);
      box-shadow:
        0px 2px 2px rgba(255,255,255,0.2),
        inset 0px 0px 3px rgba(255,255,255,0.5);
      text-shadow:
        0px 1px 0px rgba(000,000,000,0.5),
        0px 0px 3px rgba(255,255,255,0.2);

      }

}

@mixin small-blue{
  @include t-02;
  @include font-bree;
  font-weight:normal;
  font-size:14px;
  letter-spacing:1px;
  text-decoration:none;
  color: #ffffff;
  padding: 5px 10px;
  @include background-gradient(#8bc7df,#40a1ca);
  @include border-radius(3px,3px,3px,3px);
  border: 1px solid #338399;
  -moz-box-shadow:
    0px 1px 0px rgba(000,000,000,0.2),
    inset 0px 0px 3px rgba(255,255,255,0.5);
  -webkit-box-shadow:
    0px 1px 0px rgba(000,000,000,0.2),
    inset 0px 0px 3px rgba(255,255,255,0.5);
  box-shadow:
    0px 1px 0px rgba(000,000,000,0.2),
    inset 0px 0px 3px rgba(255,255,255,0.5);
  text-shadow:
    0px 1px 0px rgba(000,000,000,0.5),
    0px 0px 3px rgba(255,255,255,0.2);
    &:hover,&:focus{
      @include background-gradient(#abdef0,#8cc6df);
      border: 1px solid #3fa0ca;
  -moz-box-shadow:
    0px 1px 0px rgba(000,000,000,0.2),
    inset 0px 0px 3px rgba(255,255,255,0.5);
  -webkit-box-shadow:
    0px 1px 0px rgba(000,000,000,0.2),
    inset 0px 0px 3px rgba(255,255,255,0.5);
  box-shadow:
    0px 1px 0px rgba(000,000,000,0.2),
    inset 0px 0px 3px rgba(255,255,255,0.5);
  text-shadow:
    0px 1px 0px rgba(000,000,000,0.5),
    0px 0px 3px rgba(255,255,255,0.2);
    }

    &:active,&.active{
       @include background-gradient(#3fa3ca,#8cc7df);
        border: 1px solid #338399;
  -moz-box-shadow:
    0px 1px 0px rgba(255,255,255,0.2),
    inset 0px 0px 3px rgba(255,255,255,0.5);
  -webkit-box-shadow:
    0px 1px 0px rgba(255,255,255,0.2),
    inset 0px 0px 3px rgba(255,255,255,0.5);
  box-shadow:
    0px 1px 0px rgba(255,255,255,0.2),
    inset 0px 0px 3px rgba(255,255,255,0.5);
  text-shadow:
    0px 1px 0px rgba(000,000,000,0.5),
    0px 0px 3px rgba(255,255,255,0.2);
    }

}

@mixin search{
  //@include t-02;
  cursor:pointer;
  text-decoration:none;
  color: #ffffff;
  padding: 4px 20px;
  padding-left:30px;
  @include background-gradient(#ff8400,#db3a00, url(icons/icons_search.png) no-repeat 3px 6px);
  @include border-radius(20px,20px,20px,20px);
  border: 1px solid #be1e2e;
  -moz-box-shadow:
    0px 1px 1px rgba(000,000,000,0.7),
    inset 0px 0px 3px rgba(255,216,171,0.8);
  -webkit-box-shadow:
    0px 1px 1px rgba(000,000,000,0.7),
    inset 0px 0px 3px rgba(255,216,171,0.8);
  box-shadow:
    0px 1px 1px rgba(000,000,000,0.7),
    inset 0px 0px 3px rgba(255,216,171,0.8);
  text-shadow:
    0px 2px 2px rgba(000,000,000,0.5),
    0px 0px 0px rgba(255,255,255,0);

  &:hover,&:focus{
    @include background-gradient(#ff8400,#ff6200, url(icons/icons_search.png) no-repeat  3px 6px);
     -moz-box-shadow:
    0px 1px 1px rgba(000,000,000,0.7),
    inset 0px 0px 3px rgba(255,216,171,0.8);
  -webkit-box-shadow:
    0px 1px 1px rgba(000,000,000,0.7),
    inset 0px 0px 3px rgba(255,216,171,0.8);
   box-shadow:
    0px 1px 1px rgba(000,000,000,0.7),
    inset 0px 0px 3px rgba(255,216,171,0.8);
  text-shadow:
    0px 1px 1px rgba(000,000,000,0.5),
    0px 0px 0px rgba(255,255,255,0);
  }

  &:active,&.active{
    @include background-gradient(#e64100,#ff8400, url(icons/icons_search.png) no-repeat  3px 6px);
    color: #8a0000;
    -moz-box-shadow:
    0px 1px 1px rgba(255,255,255,0.7),
    inset 0px 0px 3px rgba(000,000,000,0.3);
  -webkit-box-shadow:
    0px 1px 1px rgba(255,255,255,0.7),
    inset 0px 0px 3px rgba(000,000,000,0.3);
  box-shadow:
    0px 1px 1px rgba(255,255,255,0.7),
    inset 0px 0px 3px rgba(000,000,000,0.3);
  text-shadow:
    0px 1px 0px rgba(255,255,255,0.5),
    0px 0px 0px rgba(255,255,255,0);
  }

}

@mixin small-gray{
  text-decoration:none;
  color: #575757;
  padding: 5px 15px;
  @include background-gradient(#ffffff,#ffffff);
  @include border-radius(15px,15px,15px,15px);
  border: 1px solid #ffffff;
   -moz-box-shadow:
    0px 1px 1px rgba(000,000,000,0.4),
    inset 0px 0px 10px rgba(087,087,087,0.2);
  -webkit-box-shadow:
    0px 1px 1px rgba(000,000,000,0.4),
    inset 0px 0px 10px rgba(087,087,087,0.2);
   box-shadow:
    0px 1px 1px rgba(000,000,000,0.4),
    inset 0px 0px 10px rgba(087,087,087,0.2);
  text-shadow:
    0px 1px 0px rgba(255,255,255,0.5),
    0px 0px 0px rgba(255,255,255,0);

  &:hover,&:focus{
    @include background-gradient(#f2f2f2,#dcdcdc);
     -moz-box-shadow:
    0px 1px 1px rgba(000,000,000,0.4),
    inset 0px 0px 10px rgba(087,087,087,0.2);
  -webkit-box-shadow:
    0px 1px 1px rgba(000,000,000,0.4),
    inset 0px 0px 10px rgba(087,087,087,0.2);
    box-shadow:
    0px 1px 1px rgba(000,000,000,0.4),
    inset 0px 0px 10px rgba(087,087,087,0.2);
  text-shadow:
    0px 1px 0px rgba(255,255,255,0.5),
    0px 0px 0px rgba(255,255,255,0);
  }

  &:active,&.active{
    @include background-gradient(#c8c8c8,#f0f0f0);
    border: 0px solid #ffffff;
    -moz-box-shadow:
    0px 1px 1px rgba(255,255,255,1),
    inset 0px 0px 8px rgba(087,087,087,0.7);
  -webkit-box-shadow:
    0px 1px 1px rgba(255,255,255,1),
    inset 0px 0px 8px rgba(087,087,087,0.7);
    box-shadow:
    0px 1px 1px rgba(255,255,255,1),
    inset 0px 0px 8px rgba(087,087,087,0.7);
  text-shadow:
    0px 1px 1px rgba(255,255,255,1),
    0px 0px 0px rgba(255,255,255,0);
  }

}