/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

@import "normalize.css";
@import "_mixins.css.scss";
@import "ui-lightness/style.css";

html,body{
	width:100%;
	height:100%;
}

body{
	background: url("noise.jpg") repeat white;
}

#header{
	-webkit-box-shadow: 0px 10px 15px rgba(50, 50, 50, 0.74);
	-moz-box-shadow:    0px 10px 15px rgba(50, 50, 50, 0.74);
	box-shadow:         0px 10px 15px rgba(50, 50, 50, 0.74);
	width:100%;
	height:75px;
	position:relative;
	z-index:2;
	@include font-pt;
	@include dark-blue-gradient;
	nav{
		width:980px;
		margin:0 auto;
	}
	ul{
		height:35.5px;
		line-height:37.5px;
		display: block;
		overflow: hidden;
		width:870px;
		li{
			text-align:center;
			display:block;
			float:left;
			margin:0 5px;
			&.active{
				a{
					@include border-radius(20px,20px,20px,20px);
					@include background-gradient(#5a6592, #313f76);
					border-bottom:1px solid #7d829c;
					border-left:1px solid #7d829c;
					border-top:1px solid #303e76;
					border-right:1px solid #303e76;
				}
			}
			a{
				color:white;
				text-decoration:none;
				border: 1px solid transparent;
				padding: 2px 5px;
			}
			&:hover a{
				@include border-radius(20px,20px,20px,20px);
				@include background-gradient(#5a6592, #838cad);
				border-top:1px solid #7d829c;
				border-right:1px solid #7d829c;
				border-bottom:1px solid #303e76;
				border-left:1px solid #303e76;
			}
		}
		span{
			color:white;
			display:block;
			float:left;	
		}
	}
}

#ul-wrap{
	float:left;
	width:870px;
	padding-left:110px;
	position:relative;
}

#logo{
	float:left;
	position:absolute;
	top:5px;
	width:100px;
	height:70px;
}

#primary-nav{
	border-bottom:1px solid #323f76;
}

#secondary-nav{
	border-top:1px solid #5a6592;
	font-size:12px;
	float:left;
}

#search-button{
	position:absolute;
	right:0;
	bottom:0px;
	text-decoration:none;
	background:orange;
	color:white;
	font-size:16px;
	@include font-bree;
	@include background-gradient(#ff6300, #ff8500, url("mag.png") no-repeat 85px center);
	@include border-radius(20px,20px,20px,20px);
	padding:5px 10px;
	padding-right:35px;
	border:1px solid #be1e2d;
}

#search{
	width:100%;
	height:400px;
	background:#7e579a;
	margin-top:-400px;
}

#inner-search{
		opacity:0;
		overflow:hidden;
		width:980px;
		margin:0 auto;
		position:relative;
		z-index:1;
	}
	form{
		float:left;
		height:390px;
		padding-top:10px;
		h2{
			@include font-bree;
			color:white;
		}
		legend{
			@include font-pt;
			color:white;
			font-style:italic;
			font-weight:bold;
		}
		label{
			color:white;
			float:left;
			margin-right:10px;
		}
		input[type="text"],input[type="date"],input[type="range"],input[type="checkbox"],select{
			float:left;
		}
		input[type="date"]{
			width:100px;
		}
		.group{
			float:left;
			overflow:hidden;
			margin-right:10px;
		}
		.left{
			float:left;
			color:white;
			font-size:12px;
		}
		.row{
			overflow:hidden;
		}
		fieldset{
			margin:10px 0;
		}
	}

#max-price-text{
	width:65px;
	margin-left:10px;
}

#advanced-search{
	position:relative;
	z-index:1;

	border-right:1px solid #64467c;
	width:724px;
}

#simple-search{
	position:relative;
	z-index:1;

	width:254px;
	border-left:1px solid #9476ac;
}

#imprecise-row{
	display:none;
}

#content{
	width:980px;
	margin:0 auto;
}

#content h2{
	@include font-lobster;
	color:$orange;
	text-shadow:#7e579a 1px 1px 0px;
	font-size:40px;
}

#content h3,footer h3{
	@include font-bree;	
}


.three{
	width:320px;
	margin:0 3px;
	float:left;
}


footer{
	min-height:200px;

	width:100%;
	box-shadow: 1px 12px 30px 15px rgba(221,221,221,1);
	-webkit-box-shadow: 1px 12px 30px 15px rgba(221,221,221,1);
	-moz-box-shadow: 1px 12px 30px 15px rgba(221,221,221,1);

}

#footer-inner{
	width:980px;
	margin:0 auto;
}

#misc-links{
	text-align:center;
	border-top:1px solid;
	clear:both;
}