/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

@import "normalize.css";
@import "_mixins.css.scss";
@import "ui-lightness/style.css";

html,body{
	width:100%;
	height:100%;
}

body{
	background: url("noise.jpg") repeat white;
	color:#5b5b5b;
	@include font-pt;
}

a:visited{
	color:darken($blue,30%);
}

#header{
	-webkit-box-shadow: 0px 10px 15px rgba(50, 50, 50, 0.24);
	-moz-box-shadow:    0px 10px 15px rgba(50, 50, 50, 0.24);
	box-shadow:         0px 10px 15px rgba(50, 50, 50, 0.24);
	width:100%;
	height:75px;
	position:relative;
	z-index:2;
	@include font-pt;
	@include dark-blue-gradient;
	nav{
		width:980px;
		margin:0 auto;
	}
	ul{
		height:35.5px;
		line-height:37.5px;
		display: block;
		overflow: hidden;
		width:870px;
		li{
			text-align:center;
			display:block;
			float:left;
			margin:0 5px;
			&.active{
				a{
					@include border-radius(20px,20px,20px,20px);
					@include background-gradient(#313f76, #5a6591);
					border: 1px solid #313f76;
				}
			}
			a{
				color:white;
				text-decoration:none;
				border: 1px solid transparent;
				padding: 2px 5px;
			}
			&:hover a{
				@include border-radius(20px,20px,20px,20px);
				@include background-gradient(#5a6591, #313f76);
				border: 1px solid #313f76;
			}
			&:active a{
				@include border-radius(20px,20px,20px,20px);
				@include background-gradient(#313f76, #5a6591);
				border: 1px solid #313f76;
			}
		}
		span{
			color:white;
			display:block;
			float:left;	
		}
	}
}

#ul-wrap{
	float:left;
	width:870px;
	padding-left:10px;
	position:relative;
}

#logo{
	float:left;
	position:relative;
	top:5px;
	width:100px;
	height:70px;
	a{
		display:block;
	}
}

#primary-nav{
	border-bottom:1px solid #323f76;
}

#secondary-nav{
	border-top:1px solid #5a6592;
	font-size:12px;
	float:left;
}

#search-button{
	position:absolute;
	right:0;
	bottom:2px;
	text-decoration:none;
	background:orange;
	color:white;
	font-size:16px;
	@include font-bree;
	@include background-gradient(#ff6300, #ff8500, url("mag.png") no-repeat 85px center);
	@include border-radius(20px,20px,20px,20px);
	padding:3px 10px;
	padding-right:35px;
	border:1px solid #be1e2d;
}

#search{
	width:100%;
	height:500px;
	background:url("purple-textile.jpg") repeat #7e579a;
	margin-top:-500px;
	-webkit-box-shadow: inset 0px -10px 15px rgba(50, 50, 50, 0.24);
	-moz-box-shadow:    inset 0px -10px 15px rgba(50, 50, 50, 0.24);
	box-shadow:         inset 0px -10px 15px rgba(50, 50, 50, 0.24);
}

#inner-search{
		opacity:0;
		overflow:hidden;
		width:980px;
		margin:0 auto;
		position:relative;
		z-index:1;
	}
	form{
		float:left;
		height:490px;
		padding-top:10px;
		color:white;
		h2{
			@include font-bree;
			color:white;
			margin-bottom:25px;
		}
		legend{
			@include font-pt;
			color:white;
			font-style:italic;
			font-weight:bold;
			font-size:18px;
		}
		label{
			color:white;
			float:left;
			margin-right:10px;
			font-size:14px;
		}
		input[type="text"],input[type="date"],input[type="range"],input[type="checkbox"],select{
			float:left;
		}
		input[type="date"]{
			width:100px;
		}
		.group{
			float:left;
			overflow:hidden;
			margin-right:10px;
			margin-bottom:12px;
		}
		.left{
			float:left;
			color:white;
			font-size:12px;
		}
		.row{
			overflow:hidden;
			padding-left:15px;
		}
		fieldset{
			padding:15px 0 25px 15px;
		}
	}

#submit-set{
	padding-top:0;
}	

#max-price-text{
	width:65px;
	margin-left:10px;
}

#advanced-search{
	position:relative;
	z-index:1;

	border-right:1px solid #583D6C;
	width:724px;
}

#simple-search{
	position:relative;
	z-index:1;

	width:254px;
	border-left:1px solid #826797;
}

#imprecise-row{
	display:none;
}

#content{
	width:980px;
	margin:0 auto;
}

#content h2{
	@include font-lobster;
	text-shadow:rgba(0,0,0,0.5) -1px -1px 0px;
	font-size:40px;
	&.orange{
		color:$orange;
	}
	&.blue{
		color:$blue;
	}
}

#content h3,footer h3{
	@include font-bree;	
}


.three{
	width:320px;
	margin:0 3px;
	float:left;
}


footer{	
	border-top:2px solid $blue;
	margin-top:40px;
	width:100%;
	box-shadow: 1px 12px 30px 15px rgba(221,221,221,1);
	-webkit-box-shadow: 1px 12px 30px 15px rgba(221,221,221,1);
	-moz-box-shadow: 1px 12px 30px 15px rgba(221,221,221,1);
	background:#d9ecf3;
	a{
			color:$blue;
		}
	ul{
		padding-left:0;
	}
	li{
		list-style:none;
	}
	strong{
		display:block;
	}
}

#footer-inner{
	width:980px;
	margin:0 auto;
	h3{
		color:$purple;
	}
}

#misc-links{
	text-align:center;
	border-top:1px solid white;
	clear:both;
	padding:10px 0;
}