@import "_mixins.css.scss";

#content{
	overflow:hidden;
}

#page-header{
	height:260px;
	width:100%;
	background:$blue;
	border-bottom:1px solid $gray;
}

#page-header-inner{
	width:980px;
	height:230px;
	padding-top:30px;
	margin:0 auto;
	h1{
		margin:0;
		color:white;
		font-size:40px;
		@include font-lobster;
		font-style:italic;
		@include t-shadow;
		text-align:center;
	}
	p{
		color:white;
		text-align:center;
		font-style:italic;
		@include t-shadow;
		font-size:18px;
		width:500px;
		margin:20px auto;
	}
}

aside{
	width:240px;
	float:left;
	h2{
		margin:0 !important;
		color:$purple;
		@include font-bree-i;
		font-size:20px !important;
		height:50px !important;
		line-height:50px !important;
		padding:0 20px !important;
		text-shadow:none !important;
		overflow:hidden;
	}
}

#filter-form{
	height:2700px;
	fieldset{
		padding:0;
		padding-top:15px;
	}
	legend + div{
			padding-top:0;
		}
	border:1px solid $gray;
	border-right:none;
	width:199px;
	padding:0 20px;
	background:white;
	color:#5b5b5b;
	legend,.legend{
		color:#5b5b5b;
		font-style:italic;
		font-size:18px;
	}
	h3{
		color:$purple;
		@include font-bree-i;
		font-size:16px !important;
	}
	label{
		color:#5b5b5b;
		float:none;
		display:block;
	}
	div{
		margin-bottom:10px;
	}
	input,select{
		float:none;
	}
	input[type="radio"]{
		margin-left:10px;
	}
	select{
		width:180px;
	}
	.left{
		float:none;
		color:#5b5b5b;
	}
	.collapsible{
		.legend{
			border-bottom:1px solid $gray;
			a{
				float:right;
				@include small-gray;
				font-style:normal;
				padding:3px 10px;
				margin-top:-5px;
				@include border-radius(3px,3px,3px,3px);
				font-size:14px;
			}
		}
	}
	.collapse{
		display:none;
	}

	input[type="submit"]{
		@include small-blue;
		width:200px;
		margin-top:20px;

	}
}

#filter-imprecise-row{
	display:none;
}

#filter-between{
	font-size:12px;
}

#totop{
	padding-left:20px;
	height:50px;
	line-height:50px;
	color:$blue;
}

#list-wrap{
	float:left;
	width:740px;
	.pagination{
		height:50px;
		line-height:50px;
		padding:0 10px;
	}
}

.pagination{
	a.pill{
		@include small-gray;

		}
}

.lt-ie9{
	a.pill{
		border:1px solid $gray;
	}
}

.selector{
	-webkit-transform-style: preserve-3d;
	background:$blue;
	border-left:1px solid $gray;
	border-top:1px solid $gray;
	padding:16px 20px;
	overflow:hidden;
	h3{
		margin-top:0;
		color:white;
	}
	.country{
		display:block;
		float:left;
		padding:5px;
		margin:0 5px 10px 5px;
		-webkit-transform-style: preserve-3d;
		background:white;
		opacity:0.7;
		color:$blue;
		font-style:italic;
		text-decoration:none;
		@include t-04;
		font-size:18px;
		span{
			font-size:16px;
			-webkit-transform-style: preserve-3d;
			color:white;
			background:$blue;
			padding:2px 4px;
		}
		&:hover,&:focus{
			opacity:1;
		}
		&.active{
			opacity:1;
			color:$orange;
			span{
				background:$orange;
				color:white;
			}
		}
	}
}	

#more-countries{
	float:right;
	color:white;
	text-decoration:none;
	opacity:0.7;
	@include t-04;
	&:hover{
		opacity:1;
	}
}

#other-countries {
	display:none;
	padding-top:0;
	div{
	 overflow:hidden;
	}
	h3{
		margin-top:16px;
	}
}

.trip{
	&.alert{
		text-align:center;
		background-color: transparent;
		background-color: rgba(244, 213, 33, 0.2); 
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33F4D521,endColorstr=#33F4D521);
        zoom: 1;
		padding:15px 20px;
		p{
			font-size:18px;
			font-style:italic;
			color:$purple;
			a{
				color:$blue;
			}
		}
	}
	width:700px;
	padding:30px 20px;
	border-left:1px solid $gray;
	border-top:1px solid $gray;
	overflow:hidden;
	.thumbnail{
		float:left;
		width:140px;
		height:140px;
		border:1px solid $gray;
		margin-right:20px;
		position:relative;
		.ribbon{
			-webkit-transform-style: preserve-3d;
			text-align:center;
			font-size:16px;
			padding:3px;
			height:20px;
			line-height:16px;
			border:1px solid $red;
			border-left:0;
			@include font-bree;
			color:#fff;
			position:absolute;
			top:10px;
			//@include background-gradient(#d33301,#ea5d32);
			background:#ea5d32;
		}
	}
	.data{
		float:left;
		width:538px;
	}
	.traveldata{
		overflow:hidden;
	}
	h3{
		color:$purple;
		margin-top:0;
		margin-bottom:10px;
		font-size:26px;
		margin-right:10px;
		line-height:1;
	}
	.row{
		overflow:hidden;
		height:30px;
		line-height:30px;
		width:538px;
		&.h3{
			overflow:visible;
		}
	}
	.dates{
		float:right;
		color:#5B5B5B;
		font-size:18px;
		font-weight:bold;
		.nights{
			font-size:14px;
		}
	}
	
	p{
		color:#5B5B5B;
	}
	.icons{
		float:left;
	}
	.view{
		float:right;
		@include big-red;
	}
}


.arrow_box {
	position: relative;
	background: #EA5D32;
	border: 1px solid #B4303D;
}
.arrow_box:after, .arrow_box:before {
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-left-color: #EA5D32;
	border-width: 13px;
	top: 50%;
	margin-top: -13px;
}
.arrow_box:before {
	border-left-color: #B4303D;
	border-width: 14px;
	top: 50%;
	margin-top: -14px;
}

.price{
		color:$blue;
		font-weight:bold;
		font-style:italic;
		font-size:18px;
		display:block;
	}

#pagi-b{
	border-top:1px solid $gray;
}

.pagi{
	float:right;
	a{
		color:$blue;
	}
}