<div id="country-selector" class="selector">
				<h3>Országok</h3>
				<a href="#" class="country active">Összes <span class="count">1123</span></a>
				<% @p_countries.each do |country| %>
					<a href="#" class="country active"><%= country.name %> <span class="count"><%= country.travel_offers_count %></span></a>
				<% end %>
			</div>
			<div id="other-countries" class="selector">
				<div>
					<h3>Európa</h3>
				<a href="#" class="country">Magyarország <span class="count">12</span></a>
				<a href="#" class="country">Bulgária <span class="count">345</span></a>
				<a href="#" class="country">Horvátország <span class="count">12</span></a>
				<a href="#" class="country">Németország <span class="count">120</span></a>
				<a href="#" class="country">Hawaii <span class="count">545</span></a>
				</div>
				<div>
					<h3>Észak-Amerika</h3>
				<a href="#" class="country">Magyarország <span class="count">12</span></a>
				<a href="#" class="country">Bulgária <span class="count">345</span></a>
				<a href="#" class="country">Horvátország <span class="count">12</span></a>
				<a href="#" class="country">Németország <span class="count">120</span></a>
				<a href="#" class="country">Hawaii <span class="count">545</span></a>
				<a href="#" class="country">Magyarország <span class="count">12</span></a>
				<a href="#" class="country">Bulgária <span class="count">345</span></a>
				<a href="#" class="country">Horvátország <span class="count">12</span></a>
				<a href="#" class="country">Németország <span class="count">120</span></a>
				<a href="#" class="country">Hawaii <span class="count">545</span></a>
				</div>
				<div>
					<h3>Dél-Amerika</h3>
				<a href="#" class="country">Magyarország <span class="count">12</span></a>
				<a href="#" class="country">Bulgária <span class="count">345</span></a>
				<a href="#" class="country">Horvátország <span class="count">12</span></a>
				<a href="#" class="country">Németország <span class="count">120</span></a>
				<a href="#" class="country">Hawaii <span class="count">545</span></a>
				<a href="#" class="country">Németország <span class="count">120</span></a>
				<a href="#" class="country">Hawaii <span class="count">545</span></a>
				</div>
				<div>
					<h3>Ázsia</h3>
				<a href="#" class="country">Magyarország <span class="count">12</span></a>
				<a href="#" class="country">Bulgária <span class="count">345</span></a>
				<a href="#" class="country">Horvátország <span class="count">12</span></a>
				<a href="#" class="country">Németország <span class="count">120</span></a>
				<a href="#" class="country">Hawaii <span class="count">545</span></a>
				</div>
				<div>
					<h3>Ausztrália</h3>
				<a href="#" class="country">Magyarország <span class="count">12</span></a>
				<a href="#" class="country">Bulgária <span class="count">345</span></a>
				<a href="#" class="country">Horvátország <span class="count">12</span></a>
				<a href="#" class="country">Németország <span class="count">120</span></a>
				<a href="#" class="country">Hawaii <span class="count">545</span></a>
				</div>				
			</div>